
body{
font-family: monospace;
margin: 0;
height: 100%;
cursor: url("../img/fa7c8c594e4912dfe327c08f45fbc5df.png") 16 16 , auto;
}

header {
    font-family: 'Magneto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: #c30022;
    flex-wrap: wrap;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #dc3545; 
  padding-top: 60px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1050;
}
.sidebar.show {
  transform: translateX(0);
}
.sidebar a {
  color: white;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  font-size: 15px;
}
.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1060;
  background-color: #c30022;
  border: none;
  color: white;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
}

.toggle-btn:focus {
  outline: none;
}

.imagen{
    width: 150px;
    height: 120px;
    
}

.imagen-nav{
    width: 175px;
    height: 90px;
    margin-right: 20px;
}

.footer-content {
    justify-content: space-between; 
    align-items: center; 
    margin: 0 auto; 
    padding: 40px 20px; 
    background-color: #c30022 ;
    height: 120px;
    text-align: center;
    color: white;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom:50px;
}

.cars1 {
  background-image: url("../img/cars1.jpg");
  background-size: cover;
  background-position: center;
}

.cars2 {
  background-image: url("../img/cars2.jpg");
  background-size: cover;
  background-position: center;
}

.cars3 {
  background-image: url("/img/cars3.jpg");
  background-size: cover;
  background-position: center;
}

.titu{
    color: rgb(194, 186, 186);
    text-align: center;
    margin-top: 20px;
}